.commentLi {
  display: flex;
  margin-bottom: 5px;
  padding-top: 10px;
  justify-content: space-between;
  width: 850px;
}

.commentInfo {
  display: flex;
}

.commentItem {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.commentItem a {
  text-decoration: none;
  color: #99a6b7;
}

.commentUsername {
  font-size: 14px;
}

.commentIndex {
  padding-left: 30px;
  background: white;
}

.fillerText {
  padding-left: 30px;
  text-align: left;
  padding-top: 20px;
  font-size: 22px;
  color: gray;
}

.commentProfPicIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.deleteButton {
  font-family: sans-serif;
  background: white;
  color: black;
  padding: 4px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  border: 1px solid #b2b2b2;
}

.deleteButton:hover {
  cursor: pointer;
  border: 1px solid gray;
}
