.currentSongPlayer {
  position: fixed;
  bottom: 0;
  padding: 3px;
  width: 100%;
  background-color: white;
  border-top: 1px solid gray;
  display: flex;
  align-items: center;
}

.currentSongControls {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#currentSongPlay {
  margin-bottom: 5px;
  margin-left: 50px;
  float: left;
}

.songProgressBar {
  margin-left: 10px;
  margin-right: 10px;
  width: 700px;
  -webkit-appearance: none;
}

.songProgressBar::-webkit-progress-bar {
  background-color: #e5e5e5;
  border-radius: 5px;
}

.songProgressBar::-webkit-progress-value {
  background-color: #f50;
  border-radius: 5px;
}

.currentSongThumb {
  width: 40px;
  height: 40px;
}

.songInfo {
  display: flex;
  padding-right: 10px;
  flex-direction: row-reverse;
  width: 150px;
}

.progressBarContainer {
  width: 900px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.audio-player-progress {
  display: block;
  width: 80%;
  height: 5px;
  border-radius: 25px;
  background-color: gray;
  overflow: hidden;
  margin: 0px 10px;
  margin-top: 5px;
}

.audio-player-progress-bar {
  display: block;
  height: 100%;
  width: 0;
  max-width: 100%;
  background-color: #f50;
  border-radius: 25px;
}

/* VOLUME */

.volumeButton {
  border: none;
  padding: 4px;
  font-size: 20px;
  background: white;
  color: #515151;
  width: 30px;
}

.volumeButton:hover {
  color: black;
  cursor: pointer;
}

.fa-volume-off {
  padding-right: 10px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 10px;
  width: 100px;
  display: flex;
  flex-flow: row-reverse;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #ffffff;
  border-radius: 5px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: #ffffff;
  border-radius: 5px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background: #f50;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100px;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 5px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 5px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  background: #f50;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
