.currentSongPlayer {
  position: fixed;
  bottom: 0;
  padding: 3px;
  width: 100%;
  background-color: white;
  border-top: 1px solid black;
  text-align: center;
  vertical-align: center;
}

#currentSongPlay {
  margin-bottom: 5px;
  margin-left: 50px;
  float: left;
}
