.editFormContainer {
  border: 3px solid #f50;
  border-radius: 5px;
  width: 800px;
  align-items: center;
  text-align: center;
  height: 450px;
  vertical-align: middle;
  padding-top: 50px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}

.editFormContainer h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.editForm {
  display: flex;
  justify-content: space-between;
}

.songEditFormInfo {
  margin-right: 20px;
}

.songEditFormInfo input {
  padding: 5px;
  margin: 5px;
  width: 430px;
  border-radius: 5px;
  border-color: #CCCCCC;
  border-style: solid;
}

.songEditFormInfo input:focus {
  outline: none;
  border-color: #f50;
}

.coverArtInput:hover {
  cursor: pointer;
}

.editForm img {
  max-width: 700px;
  max-height: 350px;
  margin: 5px auto;
}

.editForm button:hover {
  cursor: pointer;
}

.editSubmit {
  background: #f50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
}
