.backgroundGradient__buffer{
  background: linear-gradient(315deg, rgb(213, 222, 236) 0%, rgb(122, 143, 184) 100%);
  position: absolute;
  z-index: -1;
  height: 260px;
  width: 1240px;
}

.profileHeader{
  justify-content: flex-start;
  margin: 0 auto;
  height: 260px;
  width: 1240px;
}

.profilePicture {
  border-radius: 50000000px;
  width: 200px;
  height: 200px;
  margin-right: 30px;
  margin-top: 10px;
  float: left;
  margin-left: 30px;
}
