.uploadFormContainer {
  border: 3px solid #f50;
  border-radius: 5px;
  width: 800px;
  align-items: center;
  text-align: center;
  height: 450px;
  vertical-align: middle;
  padding-top: 50px;
  background-color: white;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
}

.uploadFormContainer h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.uploadForm {
  display:flex;
  justify-content: space-between;
}

.songInfoSection {
  margin-right: 20px;
  position: relative;
}

.songInfoSection input {
  padding: 5px;
  margin: 5px;
  width: 430px;
  border-radius: 5px;
  border-color: #CCCCCC;
  border-style: solid;
}

.songInfoSection input:focus {
  outline: none;
  border-color: #f50;
}

.fileInput:hover {
  cursor: pointer;
}

.fileInput button:hover {
  cursor: pointer;
}

.uploadForm img {
  max-width: 700px;
  max-height: 350px;
  margin: 5px auto;
}

.uploadForm button:hover {
  cursor: pointer;
}

.uploadSubmit {
  background: #f50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 10px;
  font-size: 15px;
}

.uploadSubmit:disabled {
  background: #CCCCCC;
}

.errorHeader {
  color: #f50;
  margin-bottom: 10px;
  font-size: 20px;
}

.coverArtSection {
  margin-left: 35px;
  position: relative;
}

.coverImagePreview {
  height: 260px;
  width: 260px;
}

.imageInput {
  position: absolute;
  bottom: 20px;
  left: 60px;
}

/* LOADER */

.loader,
.loader:before,
.loader:after {
  background: #f50;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #f50;
  text-indent: -9999em;
  margin: 88px auto;
  position: absolute;
  left: 235px;
  top: 120px;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
