.songIndex {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  width: 820px;
  font-family: sans-serif;
}

.songIndex h1 {
  color: #999;
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}
