.songIndex {
  margin-top: 50px;
  width: 820px;
  font-family: sans-serif;
  margin-bottom: 50px;
}

.songIndex h1 {
  color: #999;
  font-weight: 300;
  font-size: 22px;
  text-align: left;
  margin-bottom: 20px;
}
