.songIndexItem {
  height: 180px;
  margin-top: 10px;
}

.songIndexItem:last-child {
  align-items: flex-end;
}

.playButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f50;
  border: none;
  float: left;
  margin-right: 10px;
  margin-top: 7px;
  color: white;
  font-size: 22px;
}

.playButton i {
  padding-left: 3px;
}

#play {
  padding-left: 3px;
}

#pause {
  font-size: 20px;
  padding-left: 0px;
  padding-bottom: 3px;
}

.playButton:hover {
  cursor: pointer;
  background-color: #e83c1e;
}

.artistImage {
  width: 160px;
  height: 160px;
  float: left;
  margin-right: 10px;
}

.songIndexItemHeader {
  padding-top: 7px;
  float: left;
  text-align: left;
}

.artistName {
  color: #999999;
}

.songTitle {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.songEditInfo button {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  background-color: white;
  margin-right: 10px;
}

.songEditInfo button:hover {
  cursor: pointer;
  border: 1px solid #bbbbbb;
}
