<!DOCTYPE html>
<html>
  <head>
    <title>SonataCloud</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/445ef1561b.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
